@import "../../../assets/style/defaults.scss";

.result-card {
    height: 60vh;
    width: 30vw;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    .body {
        border-radius: 15px;
        height: 100%;
        background: rgb(253, 93, 147);
        background: linear-gradient(225deg, rgba(253, 93, 147, 1) 0%, rgba(255, 137, 117, 1) 75%);

        .header {
            height: 70%;

            .header-line {
                padding: 20px 0 0 0;
                margin: 35px 15px 0 50px;
                border-bottom: 1px solid $white;
            }

            .percentage h3 {
                padding: 0 0 0 0;
                margin: 2vh 0 0 50px;
                font-size: 15vh;
                font-weight: 200;
                text-align: left;
            }

            .score h3 {
                padding: 0;
                margin: 10px 0 0 50px;
                font-size: 16px;
                font-weight: 500;
                text-align: left;
            }
        }


        .footer {
            height: 30%;
            background-color: $white;
            border: none;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            label {
                margin-top: 7vh;
                padding: 10px;
                width: 95%;
                color: $danger;
                font-weight: 300;
                font-size: 20px;
            }
        }

    }

}