<label class="logo" for="Logo">SantFalskt</label>

<div class="container">
    <div class="row">
        <div class="col">
            <div (click)="routeGeneral()" class="card bg-light  ">
                <div class="card-text">
                    <label class="card-title">General</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div (click)="routeDesign()" class="card text-white bg-dark">
                <div class="card-text">
                    <label class="card-title">Design</label>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div (click)="routeProgramming()" class="card text-white bg-info ">
                <div class="card-text">
                    <label class="card-title">Programming</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div (click)="routeSustainability()" class="card text-white bg-warning ">
                <div class="card-text">
                    <label class="card-title">Sustainablity</label>
                </div>
            </div>
        </div>
    </div>
</div>