<div *ngIf="!selectedSubject" class="row">
    <div class="col-6 col-md-4"><label class="logo" (click)="refresh()">SantFalskt</label></div>
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4"><label class="logo" (click)="dashboard()">Dashboard</label></div>
</div>

<label *ngIf="selectedSubject" class="logo" (click)="refresh()" for="Logo">SantFalskt</label>

<div *ngIf="!selectedSubject" class="container">
    <div class="row">
        <div class="col">
            <div (click)="selectSubject('general')" class="card  ">
                <div class="card-text">
                    <label class="card-title">General</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div (click)="selectSubject('design')" class="card ">
                <div class="card-text">
                    <label class="card-title">Design</label>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div (click)="selectSubject('programming')" class="card">
                <div class="card-text">
                    <label class="card-title">Programming</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div (click)="selectSubject('sustainablity')" class="card">
                <div class="card-text">
                    <label class="card-title">Sustainablity</label>
                </div>
            </div>
        </div>
    </div>
</div>
<app-exam *ngIf="selectedSubject" [currentSubject]="selectedSubject"></app-exam>